<!DOCTYPE html>
<html>

<head>
    <title>Transactions</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Transaction History</h1>
    <ul>
        <% transactions.forEach(function(transaction) { %>
            <li>
                <%= transaction.date %>: $<%= transaction.amount %> | from: <%= transaction.fromAccount %> | to: <%=
                                transaction.toAccount %>
            </li>
            <% }); %>
    </ul>
    <a href="/accounts">Back to Home</a>
</body>

</html>